.button { margin: 10px;
	color: #d7dbdd;
	background-color: #e5e7e9;
    border-radius: 4px;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 10px currentColor;
    transition: 0.2s }
.button:active { box-shadow: 0 5px currentColor }

.green { background-color: #27AE60; color: #1E8449 }
.yellow { background-color: #D4AC0D; color: #B7950B }
.red { background-color: #A93226; color: #7B241C }
.blue { background-color: #884EA0; color: #633974 }
.purple { background-color: #6C3483; color: #5B2C6F }