@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Page stuff */

* {
    font-family: 'Quicksand';
    text-align: center;
    user-select: none;
}

body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #eee;
    color: #111;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    display: block;
    width: 100vw;
    margin: auto;
}

section {
    margin: 20px 5px;
    padding: 5px;

    background-color: #fdd;
    color: black;
    border-radius: 5px;

    box-shadow: 0 5px 0 #ecc, 0 0 10px rgba(0, 0, 0, .5);
}

p {
    font-size: 18px;
}

h6 {
    font-weight: normal;
    margin: 0;
}

/* Header */

#menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 5px;

    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#menu li a {
    display: inline-block;
    padding: 15px;
    color: black;
    text-decoration: none;
    margin: 0 20px;
    transition: .2s;
}

#menu li a:hover {
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

/* Footer */

footer {
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px;
}

footer a {
    color: rgb(0, 157, 255);
}

footer a:visited {
    color: rgb(0, 157, 255);
}

/* Copyleft */

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.copyleft::after {
    content: "\00a9";
}

/* Media queries */

/* For dark theme */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: #eee;
    }

    #menu {
        background-color: #222;
    }

    #menu li a {
        color: white;
    }

    #menu li a:hover {
        background-color: #262626;
    }

    footer {
        background-color: #222;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 60vw;
    }

    section {
        padding: 20px;
        margin: 20px 0;
    }
}